.App {
  text-align: center;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'inter';
  src: url('.././public/fonts/Inter.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'inter-medium';
  src: url('.././public/fonts/Inter-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'inter-bold';
  src: url('.././public/fonts/Inter-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}